[submodule "vendor/bp-tree"]
	path = vendor/bp-tree
	url = git@github.com:wheatman/concurrent-btrees.git
[submodule "vendor/tlx"]
	path = vendor/tlx
	url = git@github.com:wheatman/concurrent-btrees.git
[submodule "vendor/hot"]
	path = vendor/hot
	url = git@github.com:speedskater/hot.git
[submodule "vendor/wormhole"]
	path = vendor/wormhole
	url = git@github.com:wuxb45/wormhole.git
